.container {
    
    width:fit-content;
    border: 2px solid black;
}
.screen {
    display: flex;
    justify-content: end;
    font-size: large;
}

.row5 .number {
    width: 64px;
}

button {
    width: 30px;
}

